<form action="/adminLogin" method="POST">

    <fieldset>
        <legend>Username</legend>
        <input type="text" name="adminUser" id="adminUser">
    </fieldset>

    <fieldset>
        <legend>Password</legend>
        <input type="password" name="adminPass" id="adminPass">
    </fieldset>

    <button type="submit">Log in</button>

</form>