<nav>
    <ul>
       
        <li><a href="/"><svg class="<%= currentHome %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288.84 215.73"><g id="Laag_2" data-name="Laag 2"><g id="Laag_1-2" data-name="Laag 1"><path class="cls-1" d="M139.46,104.73a40,40,0,0,0,38.18-28A37.29,37.29,0,1,0,161.2,31.16a40,40,0,1,0-21.74,73.57Z"/><path class="cls-1" d="M281.84,178.53A80.9,80.9,0,0,0,143.1,122a86.79,86.79,0,0,0-85.26,86.78h173.6a86.62,86.62,0,0,0-5.4-30.2Z"/><path class="cls-1" d="M231.44,208.73a86.8,86.8,0,0,0-85.7-86.79A80.9,80.9,0,0,0,7,178.53H63.24a86.62,86.62,0,0,0-5.4,30.2Z"/><path class="cls-1" d="M83.09,81.58a37.14,37.14,0,0,0,18.24-4.77A40,40,0,1,0,117.94,31,37.29,37.29,0,1,0,83.09,81.58Z"/></g></g></svg></a></li>
        
        <li><a href="/chat"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194.13 193.4"><g id="Laag_2" data-name="Laag 2"><g id="Laag_1-2" data-name="Laag 1"><path class="cls-1" d="M7,19.87v101.7c0,7.11,5.26,12.87,11.75,12.87H92.38a11.22,11.22,0,0,1,8.08,3.52l43.32,44.89c7.49,7.77,19.84,2,19.84-9.34v-26.2c0-7.11,5.26-12.87,11.75-12.87h0c6.49,0,11.75-5.76,11.75-12.87V19.87c0-7.11-5.26-12.87-11.75-12.87H18.75C12.26,7,7,12.76,7,19.87Z"/></g></g></svg></a></li>
          
        <li><a href="/profile"><svg class="<%= currentProfile %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187.6 198"><g id="Laag_2" data-name="Laag 2"><g id="Laag_1-2" data-name="Laag 1"><path class="cls-1" d="M93.8,104.2A86.8,86.8,0,0,0,7,191H180.6A86.8,86.8,0,0,0,93.8,104.2Z"/><circle class="cls-1" cx="88.63" cy="47" r="40"/></g></g></svg></a></li>
       
    </ul>
</nav>