<nav>
    <ul>
        <li><a class="<%= currentHome %>" href="/">Home</a></li>
        <li><a class="<%= currentProfile %>" href="/profile">Profile</a></li>
        <li><a class="<%= currentPreference %>" href="/preference">Preferences</a></li>
    </ul>
</nav>