  
<form action="/partials/preferenceForm" method="post" oninput="" id="preferenceForm">
    
    <fieldset>
    <legend>Choose console</legend>
    
    <input type="radio" name="chosenConsoles" value="Playstation" id="playstation">
    <label for="playstation"><img src="../img/playstationLogo.png" alt=""></label>
    
    <input type="radio" name="chosenConsoles" value="Xbox" id="xbox">
    <label for="xbox"><img src="../img/xboxLogo.png" alt=""></label>
    
    <input type="radio" name="chosenConsoles" value="Pc" id="pc">
    <label for="pc"><img src="../img/pcLogo.png" alt=""></label>
    
    <input type="radio" name="chosenConsole" value="Nintendo" id="nintendo">
    <label for="nintendo"><img src="../img/switchLogo.png" alt=""></label>
    </fieldset>
    
    <fieldset>
        <legend>Choose game</legend>
        
        <input type="text" name="games" id="games" placeholder="your favorite game...">
        
    </fieldset>

    
    <input type="submit" value="SAVE PREFERENCES">
    
    
</form>

