*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: goldenrod;
    position: absolute;
    bottom: 0;
    width: 100%;
}


header nav ul {
    display: flex;
    flex-direction: row; 
    list-style: none;
    padding: 1em;
    justify-content: space-between;
}

header nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1em;
}

main {
    margin: 3em 2em;
}

h1, p, a {
    font-family: sans-serif;
    
}

.current {
    color: darkred;
}


