*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: goldenrod;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px -3px 10px black;
}


header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: .5em 0 .7em;
    justify-content: space-around;
}

header nav ul li a svg {
    height: 2em;
    fill: none;
    stroke: black;
    stroke-width: 14px;
    width: 6em;
}

main {
    margin: 3em 2em;
}

h1,
p,
a {
    font-family: sans-serif;
}

h1 {
    border-bottom: 10px solid goldenrod;
    padding-bottom: -1em;
    display: flex;
    width: fit-content;
}

#matchPage main section:first-of-type {
    display: flex;
}

#matchPage main section:first-of-type button {
    margin-left: auto;
    background: transparent;
    border: 0;
    width: 3.5em;
    height: 4em;
    padding: 0;
}

#matchPage main section:first-of-type button img {
    width: 3.5em;
}

#matchPage main section:first-of-type button:enabled {
    border: 0;
    outline: 0;
}

main div:first-of-type {
    display: none;
    transition: 300ms;
    background: white;
    height: 100%;
}

.showPreferences {
    height: 100%;
    display: block !important;

}



#preferenceForm fieldset:nth-of-type(2) input {
    width: 100%;
    padding: .5em;
}

.current {
    stroke: white;
}

#preferenceForm fieldset {
    display: flex;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#preferenceForm fieldset legend {
    margin-bottom: .5em;
    font-family: sans-serif;
    font-size: 1.1em;
}

#preferenceForm fieldset:nth-of-type(2) button {
    margin-left: 1em;
    border-radius: 50%;
    font-size: 1.1em;
}

#preferenceForm fieldset label {
    filter: grayscale(100%);
}

#preferenceForm input[type="text"] {
    border-radius: .5em;
}

#preferenceForm input[type="text"]:enabled {
    outline: none;
    padding: 1em;
}

#preferenceForm input[type="radio"]:checked+label {
    filter: grayscale(0);
}

#preferenceForm fieldset label img {
    width: 4.2em;
    margin: 0 1em 0 0;
}

#preferenceForm input[type="radio"] {
    display: none;
}

#preferenceForm input[type="submit"] {
    width: 100%;
    align-content: center;
    background-color: cadetblue;
    margin-top: .5em;
    padding: 1em;
    border-radius: .5em;
    border: 0;
    box-shadow: 2px 2px 2px gray;
    color: black;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
}

#preferenceForm input {
    width: 100%;
    padding: .5em;
}

main article {
    margin-bottom: 7em;
}

.userCard {
    background-color: dimgray;
    list-style: none;
    padding: 1em;
    border-radius: .5em;
    box-shadow: -3px 3px 2px black;
    position: relative;
}

.userCard li {
    color: white;
    font-family: sans-serif;
}

.userCard li:first-of-type {
    font-weight: bold;
    margin-right: auto;
    width: 100%;
    display: flex;
}

.userCard li:first-of-type button {
    margin-left: auto;
}

#addUser {
    width: 100%;
    display: none;
}


#addUser fieldset {
    display: flex;
    padding: 0;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 1em;
}

#addUser legend {
    margin-bottom: .5em;
    font-size: 1.1em;
    font-family: sans-serif;
}



#addUser img {
    width: 4.4em;
    margin-right: .5em;
}

#addUser input {
    width: 100%;
    padding: 1em;
}

#addUser input[type="submit"] {
    width: 100%;
    align-content: center;
    background-color: cadetblue;
    margin-top: .5em;
    padding: 1em;
    border-radius: .5em;
    border: 0;
    box-shadow: 2px 2px 2px gray;
    color: black;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
}

#addUser input[type="radio"] {
    display: none
}

#addUser input[type="radio"]:checked+label {
    filter: grayscale(0);
}

#addUser label {
    filter: grayscale(100%);
}

#newUser {
    display: flex;
    width: 100%;
    justify-content: center;
}

#newUser button {
    border-radius: 5em;
    border: 2px solid goldenrod;
    margin-top: .5em;
    padding: .5em;
    font-size: 1.2em;
    width: 2.5em;
    align-content: center;
    box-shadow: 0px 0px 10px gray;
}

#newUser button:enabled {
    outline: none;
    border: none;
}

.showForm {
    display: block !important;
}

.hidden {
    display: none !important;
}

.editForm {
    display: none;
    position: absolute;
    top: 1em;

}

.editForm input[type="submit"] {
    position: absolute;
    right: 1em;
    top: 0;
}

.editForm input:first-of-type {
    display: none;
}