*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: goldenrod;
    position: absolute;
    bottom: 0;
    width: 100%;
}


header nav ul {
    display: flex;
    flex-direction: row; 
    list-style: none;
    padding: 0 1em .5em;
    justify-content: space-between;
}

header nav ul li a svg {
    fill: none;
    stroke: black;
    stroke-width: 14px;
    width: 5em;
    height: 2em;
}

main {
    margin: 3em 2em;
}

h1, p, a {
    font-family: sans-serif;
    
}

.current {
    stroke: white;
}

#preferenceForm fieldset {
    display: flex;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#preferenceForm fieldset legend {
    margin-bottom: .5em;
    font-family: sans-serif;
    font-size: 1.1em;
}

#preferenceForm fieldset:nth-of-type(2) button {
    margin-left: 1em;
    border-radius: 50%;
    font-size: 1.1em;
}

#preferenceForm fieldset label {
    filter: grayscale(100%);
}

#preferenceForm input[type="checkbox"]:checked + label {
  filter: grayscale(0);
}




#preferenceForm fieldset label img {
    width: 4.2em;
    margin: 0 1em 0 0;
}

#preferenceForm input[type="checkbox"] {
    display: none;
}

#preferenceForm input[type='submit'] {
    background-color: cadetblue;
    border-radius: .5em;
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    border: 0;
    box-shadow: 2px 2px 2px gray;
    margin-top: 1em;
    filter: grayscale(100%);
}

#preferenceForm input {
    width: 100%;
    padding: .5em;
}


#matchingPage main section:first-of-type {
    display: flex;
    align-items: baseline;
}

#matchingPage main section:first-of-type button {
    margin-left: auto;
    height: 2em;
    width: 3.5em;
    border: 0;
    outline: 0;
    background: none;
}

#matchingPage main section:first-of-type button img {
    width: 3.5em;
}

#matchingPage main div:first-of-type {
    display: none;
}

.showPreference {
    display: block !important;
}



