<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body id="error404">

    <header>
        <%- include('../partials/header') %>
    </header>
    
    <main>
    <h1>Error 404</h1>
    <p>Could not find: <b><%= url %></b></p>

    </main>
    
</body>

</html>


