<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body id="adminPage">
    
    <section>
    <h1>GamerMatch Admin</h1>
    <%- include('../partials/adminLogin') %>
    </section>

</body>
</html>