<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style/style.css">
    <%- include('../partials/head') %>
</head>

<body id="matchingPage">
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
       <section>
        <button></button>
        </section>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>